@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Mono&display=swap');

:root {
    --background: #FFFBF8;
    --shadows: #284b63;
    --grey: #d9d9d9;
    --text: #353535;
    --green: #3c6e71;
    --text-font: 'Quicksand', sans-serif;
    --nav-font: 'Roboto Mono', monospace;
}

#root, #modal{
    font-family: var(--text-font);
}

/* Header and navbar */
.logo-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.nav-link {
    font-family: var(--nav-font);
}
/* Home and about me */ 
#home-photo {
    max-width: 300px;
    max-height: auto;
}

/* Projects */
h5 a {
    text-decoration: none;
    color: var(--green);
}

#project-container {
    margin: auto 50px 50px;
}

/* Resume */


/* Contact me form*/
textarea {
    height: 100px;
}

/* Footer */
footer {
    background-color: var(--grey);
}   